<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h2>Seri Backend</h2>
        <P>Info:</P>
        <ul>
            <li>GET all user: api/users</li>
            <li>GET user by id: api/users/:id</li>
            <li>GET filter user by id: api/users/filter/:id</li>
            <li>EDIT user: api/users/:id</li>
            <li>DELETE user: api/users/:id</li>
        </ul>
    </body>
</html>
